// quando appare
.enter {
	opacity: 0.01;
}
// quando ha finito di apparire
.enterActive {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.exit {
	opacity: 1;
}

.exitActive {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

// quando appare la PRIMA volta
.appear {
	opacity: 0.01;
}
// quando ha finito di apparire
.appearActive {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
