@import "./text";
@import '/src/style/_colors';
@import '/src/style/_fonts';

.root {
	@include base;

	padding-top: 15px;
	padding-bottom: 7px;


	font-family: $font-condensed;
	font-weight: 100;
	font-size: 36px;
	text-align: center;
}

