@import '/src/style/_colors';
@import '/src/style/_fonts';

.root {
	&.focus {
		background-color: $color-accent;
	}
	
	.image {
		width: 100%;
		height: auto;
		&.focus {
			border: 3px solid red;
    		box-sizing: border-box;
		}
	}

	.placeholder {
		width: 100%;
		height: auto;
		background-color: bisque;
		cursor: pointer;
	}

	.description {
		font-size: 10px;
		text-align: center;
	}
}

