@import "text";
@import 'style/colors';
@import 'style/fonts';

.root {
	@include base;

	padding-top: 15px;
	padding-bottom: 7px;

	font-family: $font-regular;
	font-weight: 700;
	font-size: 24px;
}

