
.container {
	width: 125px; height: 125px;
	display: flex; flex-direction: column;
	background-color: white;
	filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));

	&.selected {
		background-color: yellow;
	}

	.media {
		flex: 1 0 0;
	}

	.title {
		flex: 0 0 0;
		padding: 7px 4px 0px 4px;
	}

	.buttons {
		flex: 0 0 0;
		display: flex;
		padding: 0px 4px 7px 4px;

		.rating {
			flex: 1 0 0;
		}
	}

}


