.root {

    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;

    background-color: #8fbce66b;

    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 600ms;
    transition-timing-function: linear;
    &.visible_dlg {
        visibility: visible;
        opacity: 1;
    }
}

.page {
    display: flex;
    flex-direction: column;

    //height: 80%;
    //width: 70%; // from component
    max-width: 90%;
    //min-width: 400px;
    //max-height: 80%;

    background-color: #f3f3f3;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);

    transform: scale(.7);
    transition: transform 300ms;
    transition-timing-function: ease-in-out;
    &.visible_dlg {
        transform: scale(1);
    }
}

.head {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-basis: 0;

    padding: 20px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;

    &_title {
        flex-grow: 1;
        flex-basis: 0;
    }
    &_close {
        flex-grow: 0;
        flex-basis: 0;
        width: 50px;
        cursor: pointer;
    }
}

.body {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0px 20px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 0;
    flex-basis: 0;
    padding: 20px;
}
