@import "/src/style/_colors";


.container {
	
	width: 100%; height: 100%;
	background-color: $color-bg-app;

	// container elements
	.contAbs {
		position: absolute; left: 0px; top: 0px;
		width: 100%; height: 100%;
		overflow-x: auto;
		scroll-behavior: smooth;

		.contHorizDoc {
			display: flex; flex: 1; 
			position: absolute; left: 0px; top: 0px;
			width: 100%; height: 100%;
		}
		
		.docLeftSpace {
			flex: 0 0 530px;
		}
		
	}
}


.contAbsMenu {
	
	display: flex;
	position: absolute; left: 0px; top: 0px;
	height: 100%;
	height: calc( 100% - 17px );

	.contHorizMenu {
		display: flex;
		height: 100%;
	}
}










// quando appare
.enter {
	width: 0px;
}
// quando ha finito di apparire
.enterActive {
	width: 540px;
	transition: width 500ms ease-in-out; 
}

.exit {
	width: 540px;
}

.exitActive {
	width: 0px;
	transition: width 300ms ease-in-out; 
}

// // quando appare la PRIMA volta
// .appear {
// 	opacity: 0.01;
// }
// // quando ha finito di apparire
// .appearActive {
// 	opacity: 1;
// 	transition: opacity 500ms ease-in;
// }