
.main {
	
	width: 100%; height: 100%;
	background-color: #FFFFFF;
}


.contAbsMenu {
	display: flex;
	position: absolute; left: 0px; top: 0px;
	height: 100%;
	height: calc( 100% - 17px );
	
}

.contHorizMenu {
	display: flex;
	height: 100%;
}





.contAbs {
	position: absolute; left: 0px; top: 0px;
	width: 100%; height: 100%;
	overflow-x: auto;
	scroll-behavior: smooth;
}
.contHorizDoc {
	display: flex; flex: 1; 
	position: absolute; left: 0px; top: 0px;
	width: 100%; height: 100%;
}

.docLeftSpace {
	flex: 0 0 530px;
}



.element {
	display: flex; flex: 0 0;
	background-color: #F2F2F2;
	margin-right: 5px;
}

