@import "/src/style/_colors";


.container {

	width: 167px;
	height: 100%;
	display: flex; flex-direction: column;
	background-color: $color-bg-paper;
	//filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));

	.main {
		margin: 90px 9px 0px 9px;
	}
	
	.opened {
		margin: 70px 9px 0px 9px;
	}

	.gap {
		flex: 1 0 0;
	}
	
	.secondary {
		margin: 0px 9px 50px 9px;

	}	
}

