// https://coolors.co/0f0f0f-a60c2a-f7963e-ffc908-f4eadc-007880

$color-accent: #F7963E;
$color-accent2: #007880;

$color-primary: #0F0F0F;
$color-primary-inv: #C7D9EA;
$color-secondary: rgba(15, 15, 15, 0.5);

$color-icon: rgba(15, 15, 15, 0.6);
$color-icon-inv: #C7D9EA;
$color-icon-inv-sel: #FFFFFF;

$color-bg-paper: #F4EADC;
$color-bg-dark: #242A31;
$color-bg-app: #FFF;

$color-scroll: rgba(125, 125, 125, 0.4);
