

.container {
	width: 530px;
	display: flex; flex-direction: row;
}




.left {
	flex: 0 0 153px; display: flex; flex-direction: column; 
	
}
.menu {
	flex: 1 0 0; display: flex; flex-direction: column; align-items: flex-end;
	padding: 0px 25px 0 30px;
}
.link {

}




.center {
	flex: 1 0 0; display: flex; flex-direction: column;

}

.header {
	flex: 0 0 100px; display: flex; flex-direction: column;
}

.headerSpace {
	height: 100px;
}

.title {
	flex: 0 0 auto;
	font-size: 18px;
	font-weight: bold;
	margin-top: 29px;
}
.subtitle {
	flex: 1 1 auto;
}
.author {
	font-size: 14px;
}
.date {
	font-size: 12px;
	margin-left: 10px;
}

.body {
	flex: 1;
}



.rigth {
	flex: 0 1 62px; display: flex; flex-direction: column; align-items: center;
}
.icons {
    margin-top: 29px;
}